header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 9rem;
  width: 10rem;
}

header h1 {
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 4rem;
  background: linear-gradient(40deg, #ffffff, #ffffff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

/* header h1:hover {
  color: #ffffff;
  cursor: default;
} */

header span {
  margin: 0;
  font-size: 1.25rem;
  color: #5c5c5c;
  font-family: "JetBrains Mono", sans-serif;
}

header span:hover {
  color: #ffffff;
  cursor: default;
}

